.Sequencer
  display: flex
  flex-direction: column
  align-items: left
  .SequencerSteps
    display: flex
    flex-direction: column
    align-items: left
    .SequencerStep
      display: flex
      margin-left: 50px
      width: 100px
      flex-direction: row
      align-items: center
      position: relative
      transition: transform .1s
      .parse-error
        position: absolute
        color: red
        width: 200px
        margin-left: 10px
        left: 100%
      &.nowPlaying
        transform: scale(1.2)
        z-index: 10
        background-color: #333
        color: white
      .SequencerStepTimeIndex
        display: block
        width: 40px
        font-size: 11px
        text-align: center
      .PitchInput
        width: 2em
        height: 2em
        text-align: center
        font-size: 25px
        &.hasPitch
          border: 1px solid green
          background-color: #ccffcc
        &.hasError
          border: 1px solid red
          background-color: #ffcccc

.Sequencer.horizontal
  .SequencerSteps
    flex-direction: row
