@use "Shared" as *
@use "PitchBG" as *
@use "Animations" as *





hgroup.MainPageHeader
  h1
    @include CrimsonBlock
    text-align: center
    font-size: 50px
    margin: 0px
    padding: 4px
  h2
    @include TealBlock
    text-align: center
    font-size: 35px
    padding: 4px
    margin: 0px
    text-decoration: none




@mixin EightFourTwoOne($w)
  flex-shrink: 1
  box-sizing: border-box
  @media screen and (min-width: $w * 8)
    flex-basis: 12%
  @media screen and (min-width: $w * 4) and (max-width: $w *8)
    flex-basis: 25%
  @media screen and (max-width: $w*4)
    flex-basis: 100%


.PlaybackButton
  @include ButtonOverride
  @include TwitchOnHover
  &.PlayButton
    @include CrimsonBlock
  &.StopButton
    @include CrimsonBlock
  &.LoopButton
    @include YellowBlock
  &.UnloopButton
    @include YellowBlock


.red-border-box
  @include RedBorder

body
  @include MainFont
  @include BlackInputs
  background-color: $bgBlue
  color: $gray
  @media screen and (min-width: 768px)
    margin: 10px
  font-size: 25px
  ::selection
    color: black
    background: $yellowOpaque
    opacity: 1
  ::-moz-selection
    color: black
    background: $yellowOpaque
  :link, :visited
    color: $teal

  .ChooseName.DialogBox
    font-size: 45px
  .RedButton
    @include ButtonOverride
    @include CrimsonBlock
    @include TwitchOnHover
    padding: 10px

  .App
    width: 100%
    //overflow-x: hidden
    box-sizing: border-box
    .Sequencer
      @include RedBorder
      width: 100%
      box-sizing: border-box
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      .SequencerControls
        @include RedBorder
        width: 100%
        box-sizing: border-box
        flex-basis: 100%
        display: flex
        flex-direction: row
        //flex-wrap: wrap
        overflow-x: auto
        align-items: center
        position: -webkit-sticky
        position: -moz-sticky
        position: -o-sticky
        position: -ms-sticky
        position: sticky
        @media screen and (max-width:767px)
          font-size: 25px
          padding: 3px
        @media screen and (min-width: 768px)
          padding: 10px
        top: 0px
        bottom: 0px
        z-index: 50
        font-size: 35px
        background-color: $bgBlue
        .PlaybackButton
          min-height: 50px
        .SequencerUploadButton
          @include ButtonOverride
          @include TwitchOnHover
          @include GreenBlock
          //cursor: pointer
          //font-size: 35px
          margin: 5px
          min-height: 50px
        .ShareButton
          @include ButtonOverride
          @include TwitchOnHover
          @include YellowBlock
          min-height: 50px
        .SequencerTempo
          //margin: 7px
          padding-left: 7px
          padding-right: 14px
          min-width: 140px
          display: flex
          flex-direction: column
          align-items: center
          .SequencerTempoInput
            @include MinimalTextInput
            width: 80px
            text-align: center
            margin: 3px

      .SharedSequencesListWrapper
        width: 100%
        box-sizing: border-box
        padding: 20px
      .page
        flex-basis: 350px
        flex-grow: 5
      &.horizontal .SequencerSteps
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        .SequencerStep
          flex-direction: column
          @include EightFourTwoOne(130px)
      &.vertical .SequencerSteps
        flex-direction: column
      .LoadingSequence
        display: flex
        justify-content: center
        align-items: center
        svg
          vertical-align: middle
          margin-right: 10px
      .LoadingSequence, .SequencerSteps
        min-height: 300px
      .red-border-box
        width: 100%
        box-sizing: border-box
      .SequenceHeadings
        width: 100%
        box-sizing: border-box
      .SequencerSteps
        width: 100%
        box-sizing: border-box
        padding: 15px
        display: flex
        padding: 50px
        justify-content: center
        padding-top: 50px
        .SequencerStep
          display: flex
          flex-direction: row
          align-items: center
          padding: 5px
          &.nowPlaying
            @include PurpleHightlight
            .PitchInputWrapper
              @include PurpleHightlight
              input.hasPitch
                //transform: scale(1.25)
                @include Twitch
              //z-index: 45
              border-color: white
          .SequencerStepTime
            @include ContentMiddle
            color: $teal
            width: 50px
          &:focus-within .SequencerStepTime
            background-color: $purple
            color: white
          .PitchInputWrapper
            //z-index: 10
          .PitchInput
            @include InputOverride
            @include PitchBG(true)
            @include TwitchOnHover
            width: 80px
            height: 80px
            background-color: transparent
            border: 1px solid $gray
            text-align: center
            font-size: 25px
            color: white
            display: block
            font-weight: 1000
            .PianoKeyboard
              background-color: #333
            //&.hasPitch
              //border-color: 2px solid white

            &:focus
              @include PurpleHightlight
              border: 1px solid transparent
            //transition: transform .1s
          &.hasError
            background-color: red
          .parse-error
            @include ContentMiddle
            background-color: red
            color: white
            padding: 7px
        .SequencerAddSteps
          @include InputOverride
          background-color: transparent
          align-self: stretch
          margin: 0px
          min-height: 60px
          font-size: 25px
          margin: 50px
          color: $teal
          border-color: $teal
          padding-right: 15px
          padding-left: 15px
          cursor: pointer
          &:hover
            background-color: $teal
            border-color: $teal
            color: $bgBlue

    .UploadFormWrapper
      position: fixed
      top: 0px
      bottom: 0px
      left: 0px
      right: 0px
      background-color: rgb(0,0,0, .9)
      z-index: 60
      @include ContentMiddle
      .UploadForm
        @include RedBorder
        @include BlackInputs
        background-color: $bgBlue
        padding: 20px
        font-size: 35px
        .formField
          display: flex
          flex-direction: column
          align-items: stretch
          margin-bottom: 20px
          label
            letter-spacing: 10px
          input, label
            font-size: 25px
        .SequencerUploadButton
          float: right
          @include ButtonOverride
          @include TwitchOnHover
          @include GreenBlock
          font-size: inherit
          min-height: 50px

        .UploadFormCancel
          float: right
          @include ButtonOverride
          @include TwitchOnHover
          @include CrimsonBlock
          font-size: inherit
          min-height: 50px


    .SequencerHistory
      @include TextSection
    .SequencerInstructions
      @include TextSection
      width: 100%
      box-sizing: border-box

    .SharedSequencesListWrapper
      @include RedBorder
      @include MutedBlock
    .SharedSequencesList
      list-style: none
      padding: 0px
      .SharedSequence
        &.usersOwnSequence
          background-color: green
        .ShareButton
          @include ButtonOverride
          @include TwitchOnHover
          @include WhiteBlock
        margin-top: 10px
        margin-bottom: 10px
        @media screen and (min-width: 768px)
          margin: 10px
        font-size: 25px
        padding: 20px
        @media screen and (max-width: 767px)
          text-align: center
        background-color: #333
        .SharedSequenceTitle
          color: $yellow
          padding: 3px
          max-width: 100%
          word-wrap: break-word
        .SharedSequenceCredit
          margin-left: 10px
          display: inline-block
        .SharedSequenceComposer
          color: $teal
        button.SharedSequenceOpen
          @include ButtonOverride
          @include TealBlock
          @include TwitchOnHover
          font-size: 130%
          margin-right: 25px
.App .AppFooter
  padding: 10px
  
